.swiper-slide {
  @apply bg-black rounded-[2rem];
}

.swiper-slide > img {
  @apply blur-[6px] opacity-65;
}

.swiper-slide-active > img {
  background-color: transparent !important;
  opacity: 100% !important;

  @apply blur-none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  --swiper-navigation-size: 25px;
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-color: #fff;
}

#swiper-pagination-testimonial .swiper-pagination-bullet {
  --swiper-pagination-color: black;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
  --swiper-pagination-bullet-inactive-color: rgb(229 229 229);
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-opacity: 1;
}

#swiper-pagination-gallery .swiper-pagination-bullet {
  --swiper-pagination-color: black;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
  --swiper-pagination-bullet-inactive-color: black;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-opacity: 1;
}

.swiper-pagination-bullet-active {
  @apply ring-4 ring-neutral-200;
  --swiper-pagination-color: black;
}

@media only screen and (max-width: 600px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    --swiper-navigation-size: 14px;
  }
}
