<div x-data="gallerySlider()" x-init="init()" class="relative mt-12">
  <!-- Gallery -->
  <div class="relative overflow-hidden">
    <div
      x-ref="slider"
      class="flex items-center gap-10 transition-transform duration-300 w-[2980px] h-[705px] overflow-hidden"
    >
      <div class="w-full h-full">
        <img
          class="w-full h-full object-cover rounded-3xl"
          :src="images[previousIndex]"
        />
      </div>
      <div class="w-full h-full">
        <img
          class="w-full h-full object-cover rounded-3xl"
          :src="images[currentIndex]"
        />
      </div>
      <div class="w-full h-full">
        <img
          class="w-full h-full object-cover rounded-3xl"
          :src="images[nextIndex]"
        />
      </div>
      <div class="w-full h-full">
        <img
          class="w-full h-full object-cover rounded-3xl"
          :src="images[nextIndex]"
        />
      </div>
    </div>
    <!-- Navigation Arrows -->
    <button
      type="button"
      class="absolute left-2 top-1/2 z-20 flex rounded-full -translate-y-1/2 items-center justify-center p-2 text-neutral-600 transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black active:outline-offset-0 dark:text-neutral-300 dark:focus-visible:outline-white"
      aria-label="previous slide"
      x-on:click="prev()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="w-6 lg:w-12 h-6 lg:h-12 -ml-4 md:ml-0"
        aria-hidden="true"
        ><path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          d="m15 19-7-7 7-7"></path></svg
      >
    </button>
    <button
      type="button"
      class="absolute right-2 top-1/2 z-20 flex -translate-y-1/2 items-center justify-center p-2 text-neutral-600 transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black active:outline-offset-0 dark:text-neutral-300 dark:focus-visible:outline-white"
      aria-label="next slide"
      x-on:click="next()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="w-6 lg:w-12 h-6 lg:h-12 -mr-4 md:mr-0"
        aria-hidden="true"
        ><path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          d="m9 5 7 7-7 7"></path></svg
      >
    </button>
  </div>

  <!-- Dot Navigation -->
  <div
    class="absolute bottom-4 left-1/2 transform -translate-x-1/2 flex space-x-2"
  >
    <template x-for="(image, index) in images" :key="index">
      <button
        @click="goTo(index)"
        :class="{'ring-4 ring-neutral-600': currentIndex === index, 'ring-0': currentIndex !== index}"
        class="w-3 h-3 rounded-full focus:outline-none bg-neutral-800"></button>
    </template>
  </div>
</div>

<script type="text/javascript">
  function gallerySlider() {
    return {
      images: [
        "assets/before-after/1.png",
        "assets/before-after/2.png",
        "assets/before-after/3.png",
        "assets/before-after/4.png",
        "assets/before-after/5.png",
        "assets/before-after/6.png",
        "assets/before-after/7.png",
        "assets/before-after/8.png",
        "assets/before-after/9.png",
        "assets/before-after/10.png",
        "assets/before-after/11.png",
        "assets/before-after/12.png",
        "assets/before-after/13.png",
        "assets/before-after/14.png",
        "assets/before-after/15.png",
        "assets/before-after/16.png",
      ],
      itemWidth: 705,
      previousIndex: 0,
      currentIndex: 0,
      nextIndex: 1,
      totalImages: 0,

      init() {
        this.totalImages = this.images.length;
        this.updateSlider();
      },

      prev() {
        this.currentIndex =
          this.currentIndex > 0 ? this.currentIndex - 1 : this.totalImages - 1;
        this.updateSlider();
      },

      next() {
        this.currentIndex =
          this.currentIndex < this.totalImages - 1 ? this.currentIndex + 1 : 0;
        this.updateSlider();
      },

      goTo(index) {
        this.currentIndex = index;
        this.updateSlider();
      },

      isBlurred(index) {
        return (
          Math.abs(index - this.currentIndex) === 1 ||
          (index === 0 && this.currentIndex === this.totalImages - 1) ||
          (index === this.totalImages - 1 && this.currentIndex === 0)
        );
      },

      isFocused(index) {
        return index === this.currentIndex;
      },

      updateSlider() {
        this.previousIndex =
          (this.currentIndex - 1 + this.totalImages) % this.totalImages;
        this.nextIndex = (this.currentIndex + 1) % this.totalImages;
      },
    };
  }
</script>

<style>
  .blur-sm {
    filter: blur(4px);
  }
  .focus\:border-4:focus {
    border-width: 4px;
  }
  .focus\:border-white:focus {
    border-color: white;
  }
</style>
