---
const { title, description, icon } = Astro.props;
---

<div class="flex flex-col xl:w-80 mx-auto mt-10">
  <div
    class="w-full relative overflow-hidden rounded-sm md:rounded-md lg:rounded-lg"
  >
    <div class="flex items-center justify-center">
      <div
        class="flex-shrink-0 relative overflow-hidden rounded-sm md:rounded-md lg:rounded-lg flex justify-center items-center w-40 h-40 xl:w-60 xl:h-60"
      >
        <img src={`assets/${icon}-icon.png`} class="object-cover" />
      </div>
    </div>
  </div>
  <div
    class="flex flex-col gap-4 text-left items-start py-6 font-mulish flex-1"
  >
    <p class="lg:text-3xl text-2xl font-merriweather">{title}</p>
    <p class="lg:text-lg text-base">
      {description}
    </p>
  </div>
</div>
